<p>clist works!</p>
<div class="example-button-row">
  </div>
  <p *ngIf="!(books$ | async)">loading books...</p>
  <mat-accordion>
      <mat-expansion-panel *ngFor = "let book of books$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{book.doc}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        by {{book.category}}   
  
        <button 
       mat-raised-button color="primary"
       (click)=deleteBook(book.id)>
        delete  
      </button>
      
      <button 
      mat-raised-button color="primary"
      [routerLink]="'/edit/' + book.id ">
       update  
     </button>
     
  
      </mat-expansion-panel>
    </mat-accordion>